*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    
}
/* inizio navbar */
nav{
    

    /* test  */
    display: flex;
    justify-content: space-between;
    
}
.left, .right{
    display: flex;
    padding: 30px 0px;
    font-size: 16px;
    gap: 42px;

}

.left{
    padding-left: 25px;
    
}
.right{
    padding-right:25px ;
}
/* questo condiviso con tutta la pagina */
.button{
    background-color: #0061FF;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
}

/* fine navbar */
/* coteiner big inizio */
#first{
    background-color: #B4D0E7;

}
.conteiner-big{
    

    /* test */
    
    background-color: #B4D0E7;
    padding-top: 115px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
h1{
    font-size: 55px;
    margin-bottom: -15px;
    /* necessità di sistemare i margin ed i padding: per far tornare simi ad immagine */
}
.row{
    display: flex;
    
}
.text{
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 30%;
    padding-top: 90px;
}
.row .text i:nth-of-type(1){
    margin-top: 40px;
    font-size: 48px;
    
}
#first .conteiner-big .row .image {
    max-width: 70%; 
    position: relative;
    bottom: -90px;

}
#first .conteiner-big .row .image img{
    width: 100%;
}

/* conteiner big fine */
/* sezione centrale inizio */
.sezione_centrale{
   

    /* test */
    padding-top: 195px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto ;
    margin-bottom: 170px;
}
h2{
    font-size: 32px;
    margin-bottom: 72px;
}
.checkbox{
    padding-bottom: 50px;
}
.radio-buttons-row{
    display: flex;
    gap: 50px;
}
/* sezione piani inizio */
.buisness_plan{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    
}
.column{
    width: calc(100%/3 - 34px);
    display: flex;
    flex-direction: column;
    border: 1px solid #DEDEDF;
        }
.plan_head{
    display: flex;
    justify-content: center;
}
.plan_head .conteiner{
    display: flex;
    
}

.buisness_plan .plan_head .fa-solid,#conteiner_team #team_head .fa-solid {
    font-size: 15px;
    
    
}
.plan_body{
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 30px;
    border-top: 1px solid #DEDEDF;
}
h3{
    font-size: 18px;
    padding-bottom: 26px;
}
.column .plan_body strong{
    padding-bottom: 20px;
}
#cadenza{
    padding-bottom: 60px;
}
.column .plan_body .icone_testo{
    display: flex;
}
.icone_testo div:nth-of-type(2){
    padding-left: 5px;

}
.column .plan_body .fa-solid{
    font-size: 15px;
}
.column .plan_body div:nth-of-type(2){
    padding-bottom: 28px;
}
.column .plan_body div:nth-of-type(3){
    padding-bottom: 28px;
}
.column .plan_body div:nth-of-type(4){
    padding-bottom: 56px;
}
.column .plan_body div:nth-of-type(5){
    padding-bottom: 56px;
}
.plan_body p{
    padding-bottom: 42px;
}
.plan_body hr{
    width: 50px;
    border: solid 1px #E5E5E6 ;
    margin-bottom: 55px;
}
ul{
    list-style-type: none;
}
ul span{
    font-size: 15px;
    
}
ul li:nth-of-type(1){ padding-top: 40px;

}
ul li{
    padding-bottom: 8px;
}

.check{
    color: #0560FF;
    margin-bottom: 20px;
}


/* sezione piani fine*/
/* sezione team inizio */
#conteiner_team{
    border: 1px solid #DEDEDF;
    /* test  */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 150px; ;
}
/* sezione team inizio head*/

#team_head{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #DEDEDF;
    padding: 10px 0 ;
}
 #team_head div:nth-of-type(2){
    padding-left: 5px;
 }
/* sezione team fine head*/
/* sezione team inizio body */
#team_body{
    display: flex;
    padding: 30px;
    
}
#text_inside{
    padding-right: 90px;
    width: 76%;
}
#team_body #text_inside div:nth-of-type(1){
    padding-bottom: 55px;
    font-size: 12px;
}

/* sezione team fine body */
/* inizio sezione partner */
.partner{
    
    margin-bottom: 170px;
    
}
.partner .row #img_partner{
    width: 60%;
}
.partner .row #img_partner img{
    width: 100%;
}
.partner .row #text_partner{
    width: 40%;
    padding: 60px 50px 0px;
}
.partner .row #text_partner p{margin-bottom: 36px;}
.partner .row #text_partner a{
    background-color: white;
    color: #787878;
    border: #787878 1px solid;
}
/* fine sezione partner */
/* inizio sezione dropbox_buisness */
.dropbox_buisness{
    display: flex;
    flex-direction: column;
    /* da togliere forse perchè inutile */
    margin-bottom: 220px;
}
#row_img_txt{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.column_img_txt{
    width: calc(100% / 3 - 50px / 3 * 2);
    /* formula che indica da dimensione dei contenitori img . 1)larghezza 2)elementi su prima colonna 3)sottrazione padding tra le " caselle" 4)n elementi sulla riga  5)n di righe    display: flex; */
    flex-direction: column;
}
#row_img_txt .column_img_txt img{
    width: 100%;
    /* impostato questo per dire all' immagine di prendersi tutta la diemnsione per larghezza possibile */
}


/* fine sezione dropbox_buisness */

/* sezione centrale fine */
/* inizio sezione università */
#conteiner_row_university{
    display: flex;
}
.conteiner_university{
    width: calc(100%/3);
    height: calc(100vw / 3);
    /* da inserire assolutamente senno si rimpiccioliscono cosi il contenitore si adatta all' altezza  della viewport e aumenta o diminuisce in rapporto ad essa */
    display: flex;
    flex-wrap: wrap;

}
.university{
    width: calc(100% / 2 / 2 * 2);
    display: flex;
    justify-content: center;
    align-items: center; 
    height: calc(100% / 2 / 2 * 2);
    /*da rivedere se è una soluzione corretta*/
    
    
}
.university:hover{
    /* test  */
    border: yellow 25px dotted;
}
.conteiner_university .university img{
    width: 100%;
    scale: 0.5;
    filter:invert(1);
}
.conteiner_university .university.primo{
    /* .university.primo scritto cosi almeno il selettore prende la classe che le ha entrambe  */
background-color: #A2D39B;
}
.conteiner_university .university.secondo{
    background-color: #61082B;
}
.conteiner_university .university.terzo{
    background-color:#0093CE ;
}
.conteiner_university .university.quarto{
    background-color: #FF1C1C;
}
.conteiner_university .university.quinto {
    background-color:#D5001F ;
}
.conteiner_university .university.sesto{
    background-color:#B4D0E7 ;
}
.conteiner_university .university.settimo{
    background-color:#0D2481 ;
}
.conteiner_university .university.ottavo{
    background-color:#FFD830 ;
}
.conteiner_university.txt{
    padding: 42px;
    /*qui viene tolta l'altezza perchè eredita l'altezza di conteiner_university*/
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;

}
.conteiner_university.txt img{
    margin-bottom: 42px;
    max-width: 260px;
    /* in questo caso prendiamo dimensione da immagine esercizio */
}
.conteiner_university.txt hr{
    width: 20%;
    margin-bottom: 45px;
}
.conteiner_university.txt p{
    font-size: 11px;
    margin-bottom: 58px;
}
.conteiner_university.txt #citazione{
    font-size: 11px;
    
}

/* problemi riguardanti la sezione centrale da rivedere  */

    

/* fine sezione università */
/* inizi sezione prova gratis */
#conteiner_provagratis{
    background-color: #B4D0E7;
}
.sezione_centrale.provagratis{
    
    padding-top: 140px;
    padding-bottom: 140px;
    
}
#row_provagratis{
display: flex;
justify-content: center;
position: relative;

}
#row_provagratis h2{
    position: absolute;
    top: 0;
    left: 0;
    color: #61082F;
}
#row_provagratis a{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    background-color: white;
}
/* fine sezione prova gratis */
/* inizio sezione domande */
.sezione_centrale.domande{
    display: flex;
    flex-direction: column;
    padding-top: 0px; 
    margin-bottom: 160px;
}
.sezione_centrale.domande hr:nth-of-type(1){
    border: #E6E6E6 1px solid;
    margin-bottom: 44px;
    margin-top: 0px;
}
.sezione_centrale.domande hr{
    margin-bottom: 44px;
    margin-top: 44px;
    border: #B1B1B1 1px solid;

}
.sezione_centrale.domande hr:nth-of-type(4){
    margin-bottom: 0px;
}
/* fine sezione domande */
/* inizio footer  */
footer{
    background-color: black;
    color: white;
}
footer .conteiner-big{
    
    padding-top: 105px;
    background-color: black;
    
}
#conteiner_liste{
    display: flex;
    gap: 105px;
    margin-bottom: 125px;
}
h4{
    padding-bottom: 30px;
    font-size: 22px;
}
#conteiner_liste .lista ul li{
    padding-top:11px ;
    padding-bottom:11px ;
    font-size: 14px;
}

footer .conteiner-big hr{
    border: #939393 solid 1px;
    margin-bottom: 55px;
    max-width: 130px;

}
#selettore_lingua{
    display: flex;
    color: #939393;
}
#selettore_lingua div:nth-of-type(2){
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
}

/* fine footer  */