*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    border: 1px dotted red;
}
/* inizio navbar */
nav{
    border: 1px dotted red;

    /* test  */
    display: flex;
    justify-content: space-between;
    
}
.left, .right{
    display: flex;
    padding: 30px 0px;
    font-size: 16px;
    gap: 42px;

}

.left{
    padding-left: 25px;
    
}
.right{
    padding-right:25px ;
}
/* questo condiviso con tutta la pagina */
.button{
    background-color: #0061FF;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
}

/* fine navbar */
/* coteiner big inizio */
#first{
    background-color: #B4D0E7;

}
.conteiner-big{
    border: 1px dotted red;

    /* test */
    
    background-color: #B4D0E7;
    padding-top: 115px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
h1{
    font-size: 55px;
    margin-bottom: -15px;
    /* necessità di sistemare i margin ed i padding: per far tornare simi ad immagine */
}
.row{
    display: flex;
    
}
.text{
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 30%;
    padding-top: 90px;
}
.row .text i:nth-of-type(1){
    margin-top: 40px;
    font-size: 48px;
    
}
#first .conteiner-big .row .image {
    max-width: 70%; 
    position: relative;
    bottom: -90px;

}
#first .conteiner-big .row .image img{
    width: 100%;
}

/* conteiner big fine */
/* sezione centrale inizio */
#sezione_centrale{
    border: 1px dotted red;

    /* test */
    padding-top: 195px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto ;
}
h2{
    font-size: 32px;
    margin-bottom: 72px;
}
.checkbox{
    padding-bottom: 50px;
}
.radio-buttons-row{
    display: flex;
    gap: 50px;
}
/* sezione piani inizio */
.buisness_plan{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    
}
.column{
    width: calc(100%/3 - 34px);
    display: flex;
    flex-direction: column;
        }
.plan_head{
    display: flex;
    justify-content: center;
    border: 1px solid #DEDEDF;
}
.plan_head .conteiner{
    display: flex;
    
}

.buisness_plan .plan_head .fa-solid,#conteiner_team #team_head .fa-solid {
    font-size: 15px;
    
    
}
.plan_body{
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 30px;
    border: 1px solid #DEDEDF;
}
h3{
    font-size: 18px;
    padding-bottom: 26px;
}
.column .plan_body strong{
    padding-bottom: 20px;
}
#cadenza{
    padding-bottom: 60px;
}
.column .plan_body .icone_testo{
    display: flex;
}
.icone_testo div:nth-of-type(2){
    padding-left: 5px;

}
.column .plan_body .fa-solid{
    font-size: 15px;
}
.column .plan_body div:nth-of-type(2){
    padding-bottom: 28px;
}
.column .plan_body div:nth-of-type(3){
    padding-bottom: 28px;
}
.column .plan_body div:nth-of-type(4){
    padding-bottom: 56px;
}
.column .plan_body div:nth-of-type(5){
    padding-bottom: 56px;
}
.plan_body p{
    padding-bottom: 42px;
}
.plan_body hr{
    width: 50px;
    border: solid 1px #E5E5E6 ;
    margin-bottom: 55px;
}
ul{
    list-style-type: none;
}
ul span{
    font-size: 15px;
    
}
ul li:nth-of-type(1){ padding-top: 40px;

}
ul li{
    padding-bottom: 8px;
}

.check{
    color: #0560FF;
    margin-bottom: 20px;
}


/* sezione piani fine*/
/* sezione team inizio */
#conteiner_team{
    border: blue dashed 2px;
    /* test  */
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* sezione team inizio head*/

#team_head{
    display: flex;
    justify-content: center;
    border: 1px solid #DEDEDF;
    padding: 10px 0 ;
}
 #team_head div:nth-of-type(2){
    padding-left: 5px;
 }
/* sezione team fine head*/
/* sezione team inizio body */
#team_body{
    display: flex;
    padding: 30px;
    
}
#text_inside{
    padding-right: 90px;
}
#team_body #text_inside div:nth-of-type(1){
    padding-bottom: 55px;
    font-size: 12px;
}

/* sezione team fine body */
/* sezione centrale fine */